* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

.donkey-game {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-size: min(8vw, 6vh);
    gap: 2px;
    background-color: #022;
    border: 5px solid #022;
    
    width: min(80vw, 64vh);    
    height: min( 100vw , 80vh);
    margin-left: auto;
    margin-right: auto;
    margin-top: min(12vw, 10vh);
}

.dnk-box, .dnk-boxa {
    background-color: #055;
    color: #fff;
    
    display: grid;
    place-content: center center;
}

.dnk-boxa {
    display: none;
    position: absolute;
}

.ab {
    position: absolute;
    background-color: blueviolet;
    z-index: 1;
}