.container {
    width: 12rem;
    height: 12rem;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 1300ms; 
    margin-left: 20px;
    position: relative;
}

.tile {
    /* width: 4rem;
    height: 4rem; */
    grid-column: 2;
    background-color: #040;
    color: aliceblue;
    font-size: 2rem;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 1300ms; 

}